@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="col-sm-12 bg-light">
        adfadsfsdaf
    </div>
    <div class="col-sm-12 row">
        <div class="col-sm-6 bg-light ">
            asdfasdfdsaf
        </div>
        <div class="col-sm-6 bg-light">
            asdfasdfdsaf
        </div>
        <div class="col-sm-6 bg-light">
            asdfasdfdsaf
        </div>
        <div class="col-sm-6 bg-light">
            asdfasdfdsaf
        </div>
    </div>
</div>
