@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center ">
    <div class="pt-lg-5">
    <h1 class="display-3">Welcome</h1>
    <h1 class="display-4">To</h1>
    <h1 class="display-3">Hello Quiz</h1>
    </div>
</div>